.content div{
	margin-top: 10px;
}

.chamada{
	font-size: 30px;
	font-weight: 700;
}

.ajudaJumbo{
	background-color: #F5F5F5;
}

.ajudaFinanceira{
	padding:40px 20px;
}

.tituloJumbo{
	font-size: 30px;
	font-weight: 700;
}

.conteudoJumbo{
	font-size: 15px;
}

.conteudoJumbo span{
	color:#f58220;
	font-weight: 700;
}

.jumbotron .botaoJumbo{
	text-align: center;
	margin-top: 20px;
}

.jumbotron .btn{
	color:#fff;
	background-color: #f58220;
	border:none;
	font-size: 20px;
	font-weight: 700;
}

.jumbotron .btn:hover{
	background-color: #9d9fa2;
	color:#414042;
}

