.campoContato{
	margin-top: 10px;
}

.panel-heading{
	background-color: #9d9fa2 !important;
}

.panel-title{
	font-size: 20px;
	font-family: 'Lato';
	color: white;
}

.panel-body{
	background-color: #f1f1f1;
}

.instrucaoIniciativa{
	color:red;
}

.instrucaoIniciativa ul{
	padding-left: 0px;
}

.instrucaoIniciativa ul li{
	margin-left: 27px;
}