html{
	height: 100%;
}

body{
	background-color: #e7e7e5;
	padding-top: 91px;
	height: 100%;
	font-family: Lato;
	font-weight: 500;
}

@media screen and (min-width: 1200px) {
    .container {
   		width: 80%;
    }
}

.limparFloat{
	clear: both;
}

.btn,.btn-primary{
	color: #fff;
    background-color: #f58220;
    border: none;
    font-weight: 700;
}

.btn:hover,.btn-primary:hover{
	background-color: #9d9fa2;
    color: #414042;
    font-weight: 700;
}


.btn:focus,.btn-primary:focus{
	background-color: #f58220 !important;
    color: #fff !important;
    font-weight: 700 !important;
}

.btn:active,.btn-primary:active{
	background-color: #9d9fa2 !important;
    color: #fff !important;
    font-weight: 700 !important;
}


/*----------Inicio navegacao---------------*/
.navbar .brand {
    display: block;
    float: left;
    padding: 20px 10px 20px 20px;
  	font-size: none; 
 	font-weight: none;
 	color: #777; 
    text-shadow: none; 
}

.navbar .tagBeta{
    margin-top: 56px;
    color: #f58220;
    padding: 0px;
    text-decoration: none;
    font-weight: bold;
}

.logoMenu{
	height: 50px;
	margin-left: 30px;
}

.navbar, .navbar-inner{
	background-color: #414042;
	background-image: none;
	border-bottom: 1px solid #f58220;
}

.navbar .nav>li>a{
	text-shadow:none;
	color:#9d9fa2;
    padding: 15px 15px 15px;
    font-size: 15px;
    font-weight: 700;
}

.navbar .nav>li>a:hover{
	text-shadow:none;
	color:#f58220;
}

.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus{
	box-shadow: none;
	color:#ffffff;
	background-color:inherit;
}

.navbar .pull-right{
	margin-right: 20px;
	margin-top: 20px;
}
/*----------Final navegacao---------------*/


/*---------- Inicio Abertura ---------------*/

.abertura{
	padding-left: 15px;
	padding-right: 15px;
}

.bgAbertura{
/*	height:60%;*/
	background:url('../img/fundo_abertura.png') no-repeat center center;
	min-height:70%;
	background-size:cover;
}

.bgAbertura .jumbotron{
	background-color: transparent;
	padding-top: 10%
}

.headerAbertura{
	font-size: 45px;
	font-weight: 900;
	color:white;
	text-align: center
}

.contentAbertura{
	font-size: 25px;
	color:white;
	text-align: center
}

.botaoAbertura{
	text-align: center;
	margin-top: 15px;
}

.botaoAbertura a{
	font-size: 20px;
	padding: 15px;
}

/*---------- Final Abertura ---------------*/



/*---------- Inicio Mapa ---------------*/



.mapa{
	margin-bottom: 30px;
	margin-top:10px;
}

#map{
	height: 100%;
}

#map-container{
    height: 500px;
    margin-bottom: 15px;
    padding-left: 0px;
}

/*---------- Final Mapa ---------------*/



/*---------- Inicio evento-card ---------------*/

/*.card:hover{
	cursor:pointer;
}*/

.card{
	height: 360px;
}

.foto img{
	position: relative;
}

.criador{
    position: absolute;
    z-index: 4;
    top: 5px;
    right: 20px;
    text-align: right;
}

.criador img{
	height: 40px;
	opacity:0;
	-webkit-transition: opacity 0.6s ease-in-out; /* For Safari 3.1 to 6.0 */
    transition: opacity 0.6s ease-in-out; 
}

.card:hover > .criador img{
	opacity:100;
}

.info{
    background-color: #f58220;
    color:white;
    padding: 5px 10px;
    height:50px;
    position: relative;
    z-index: 1; 
    font-size: 15px;
    font-weight: 700;
    bottom:  0px;
    opacity: 0;
    -webkit-transition: bottom 0.6s,opacity 0.6s; /* For Safari 3.1 to 6.0 */
    transition: bottom 0.6s,opacity 0.6s; 
}

.card:hover > .info{
	bottom:50px;
	opacity: 1;
}

span.dataEvento{
	margin-left: 5px;
}

span.localEvento{
	margin-left: 10px;
}

.fa-map-marker{
	margin-left: 2px;
}

.descricaoBlocoCard{
    position: relative;
    padding: 5px;
    bottom: 50px;
    word-wrap: break-word;
    z-index: 2;
    background-color: #f1f1f1;
}

.descricaoBlocoCard div{
	margin: 5px;
}

.descricaoTituloCard{
	font-size: 16px;
	font-weight: 700;
}

.descricaoTextoCard{
	height:80px;
}

.descricaoDetalhesCard{
	font-size: 15px;
	font-weight: 700;
	color:#f58220;
	margin-left: 5px;
}

a.descricaoDetalhesCard:hover{
	color:#ADADAD;
	text-decoration: none;
}

@media only screen and (max-width: 500px) {
	.foto img{
		height: auto;
	}
}


/*---------- Final evento-card ---------------*/



/*---------- Inicio sideBar ---------------*/

.sideBar{
	padding-left: 0px;
	height: 100%;
}

.redesSociais{
	margin-top: 10px;
	padding: 5px;
	background-color:#f58220;	
}

.redesSociais .tituloRedes{
	margin-bottom:5px;
	text-align: center;
	color:black;
	font-size: 14px;
	font-weight: 500;
}

.redesSociais .linksRedes{
	text-align: center;
	font-size: 10px;
	margin-bottom: 5px;
}

div.redesSociais div.linksRedes a{
	color:black;
	text-decoration:none;
	margin:10px 5px;
}

.propaganda{
	margin-top: 15px;
	padding-top: 10px;
	font-size: 15px;
	font-weight: bold;
}

.tituloCamisas{
	text-align: center;
	color:black;
}

ul.camisas{
	margin-top: 10px;
	padding-left: 0px;
}

ul.camisas li{
	list-style-type: none;
	margin-bottom: 15px;
}

/*---------- Final sideBar ---------------*/

/*Inicio footer*/

.footerPrimario{
	padding: 40px 0;
	background-color:#414042;
	margin-top: 20px;
}

.footerPrimario	a{
	color:#fff;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
}

.footerPrimario	a:hover{
	color:#9d9fa2;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
}

.footerPrimario ul{
	padding-left: 0px;
	list-style: none;
}

.footerPrimario ul li i{
	margin-right: 5px;
}

.tituloFooter{
	color:#f58220;
	font-size: 15px;
	margin-bottom: 10px;
}

.footerNewsletter{
	float:right;

}

.indicates-required{
	color:#fff;
}

.indicates-required .asterisk{
	color:#ffa500;
	margin-right: 5px;
}

#mc_embed_signup_scroll .form-control{
	width:100%;
	margin-bottom: 5px;
}

#mc_embed_signup_scroll .btn{
	float:right;
	color: #fff;
    background-color: #f58220;
    border: none;
    font-weight: 700;
}

#mce-EMAIL,#mce-FNAME,#mce-LNAME{
	color:#414042;
}

#mc_embed_signup_scroll .btn:hover{
	background-color: #9d9fa2;
    color: #414042;
    font-weight: 700;
}

.mce_inline_error,
#mce-success-response,
#mce-error-response{
	color:#ffa500;
    margin-bottom: 10px;
}

.footerSecundario{
	padding: 20px 0;
	background-color:#9d9fa2;
	font-weight: 700;
	text-align: center;
}

.footerSecundario a{
	color:#fff;
	text-decoration: none;
}

.footerSecundario a:hover{
	color:#414042;
	text-decoration: none;
}

/*Final footer*/



/*---------- A resolver ---------------*/
/*
	-resolver dataEvento quando ta na metade da tela a
	div nao aumenta o orange deixando a data voando

	-img de diferentes tamanhos

*/