
/*inicio do cabecalho do evento*/
.cabecalhoEvento{
	background-color: #f1f1f1;
	padding: 15px 10px 15px 0px;
	margin:10px 0;	
	color:#414042;
	font-size: 14px;
}

.tituloEvento{
	font-size: 20px;
	font-weight: bold;
	margin-top: -8px;
    color: #f58220;
}

.enderecoEvento,.organizadorEvento{
	margin-top: 5px;
	font-size: 15px;
}

.organizadorEvento a{
	color:#f58220;
}

.participarEvento{
	padding-top: 15px;
}

.btn{
	background-color:#f58220;
	border:none;
	font-weight: bold;
}

.btn:hover {
    color: #414042;
    background-color: #9D9FA2;
    text-decoration: none;
}

.mapaEvento{
	text-align: center;
}

.descricaoEvento{
    background-color: #f1f1f1;
    color: #414042;
    padding: 15px;
}


/*final do cabecalho do evento*/


/*inicio do miolo do evento*/



.blocoSecundarioEvento{
	padding-right: 0px;
	padding-left: 0px;
    margin-top: 15px;
}

.participacaoEvento{
    color: #414042;
}

.participacaoEvento div{
	margin-bottom: 10px;
}

.lstHeader{
    color:#f58220;
    font-size: 20px;
    font-weight: 700;
}

.listaDemanda{
    margin-bottom: 10px;
    background-color: #f1f1f1;
    padding: 15px;
}

.listaDemanda ul{
	padding-left: 0px;
}

.listaDemanda ul li{
	display: inline-block;
	margin-right: 5px;
	font-weight: 700;
}

.listaParticipacao{
    margin-bottom: 20px;
    background-color: #f1f1f1;
    padding: 15px;
}

table{
    width: 100%;
}

thead,
tbody,
tr,
td,
th {
	display: block;
}

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead tr{
    background-color: #f58220;
    color: #414042;
    font-size: 15px;
    font-weight: 700;
    border-bottom: none;
}

.table thead>tr>th{
    border: none;
    border-bottom-width: 0px;
    padding:10px;
    width: 50%;
    padding-left: 20px;
}

.table thead>tr>th:first-child{
    padding-left: 10px;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #414042;
    color: #f1f1f1;
    font-weight: 500;
}

.table-striped>tbody>tr{
    background-color: #f1f1f1;
    color: #414042;
    font-weight: 500;
}



tbody {
    height: 300px;
    overflow-y: auto;
    overflow-x:auto;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th{
    border: none;   
}

tbody td, thead th {
    width: 19.2%;
    float: left;
}

.table>tbody>tr>td{
	width:50%;
	padding-left: 20px;
	padding-right: 10px;
}

.table>tbody>tr>td:first-child{
    padding-left: 10px;
}

.form-control{
	width: 100%;
	display: inline-block;
	margin-bottom: 5px;
}

/*final do miolo do evento*/


