.carousel{
	margin-top: 10px;
    margin-right: 21px;
}

.mancheteLojinha{
    font-family: 'Lato';
    font-size: 25px;
    font-weight: 700;
    color: #414042;
    padding: 5px;
    margin-bottom: 0px;
}

.comoFunciona,.artistas{
	padding:5px;
	margin-top: 10px;
}

.comoFunciona div:first-child, .artistasTitulo{
   	font-size: 25px;
    font-weight: 700;
    color: #9d9fa2;
}

.artistasNomes{
	font-size: 15px;
	font-weight: 700;
	margin-bottom: 10px;
	text-decoration: none;

}

.artistasNomes a{
	text-decoration: none;
	color:#9d9fa2;
}


.divisoria{
	background-color: #AFBCBF;
    width: 100%;
    margin-top: 10px;
    height: 2px;
}

/*inicio css camisas*/
.rowCamisas{
	margin-top: 20px;
}

.coresCamisas div{
	display: inline-block;
	margin-top: 5px;
}

.iconSexo{
    font-size: 30px;
    vertical-align: super;
    margin-right: 10px;
    width: 31px;
    text-align: center;
}

.camisaPreta,
.camisaBranca,
.camisaCinza{
	border:3px solid #f58220;
	height:30px;
	width:30px;
	cursor:pointer;
}
.camisaRaglan{
	border:3px solid #f58220;
	background-image: url("../img/raglanIcone.jpg");
    width: 30px;
    height: 30px;
    background-position: center;
    cursor:pointer;
}

.camisaCinza{
	background-color: grey;
	margin-right: 5px;
}

.camisaBranca{
	background-color: white;
	margin-right: 5px;
}

.row.botaoComprar {
    padding-right: 45px;
    text-align: center;
    margin-top: 10px;
}

.row.botaoComprar a{
	padding: 20px;
	font-size: 20px;
}

.typeform-share{
	margin-bottom: 5px;	
}

/*final css camisas*/