.containerLoja{
	margin-top: 10px;
}

.oQueEHeader{
	margin-top: 30px;
	font-size: 25px;
    font-weight: 700;
    color: #9d9fa2;
}

.oQueEHeader:first-child{
	margin-top: 10px;
}

.beta{
	color:#f58220;
}

.botao{
	margin-top: 30px;
	text-align: center;
}

.botao .btn{
	font-size:15px;
}