<!DOCTYPE html>
<html lang="en" ng-app="tramaApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,100,500,700,900' rel='stylesheet' type='text/css'>
  <link href="css/estilo.css" rel="stylesheet">
  <script src="js/controllers.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAk2EcbAzZxl1SxuOEILwjOG2-xk5qUzOQ&signed_in=true&callback=initMap"
  async defer>
  </script>
  <script src="js/mapa.js"></script>
  <script src="js/jumpto.js"></script>
  <title>Trama MVP TESTE</title>
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="brand pull-left" href="#home"><img src="img/branca250px.png" class="img-responsive logoMenu" alt="Responsive image"></a>
          <a class="brand pull-left tagBeta" href="oqueeotrama.html">beta</a>


        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav pull-right">
            <li class="active"><a href="index.html">início</a></li>
            <li><a href="oqueeotrama.html">o que é o Trama?</a></li>
            <!-- <li><a href="comoajudar.html">como posso ajudar?</a></li> -->
            <li><a href="loja.html">loja</a></li>
            <li><a href="criarIniciativa.html">crie sua iniciativa!</a></li>
            <li><a href="contato.html">fale com a gente</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <!-- inicio jumbotron de abertura -->
    <div class="row-fluid">
      <div class="abertura">
        <div class="bgAbertura">
          <div class="jumbotron">
            <div class="headerAbertura">
              Bem vindo à versão beta da plataforma Trama
            </div>
            <div class="contentAbertura">
             Navegue, conheça, descubra, crie, participe e opine. Esse é apenas o começo.</br> O final será criado junto com você.
            </div>
            <div class="botaoAbertura">
            <a href="#testando" class="btn btn-primary">Estou pronto para Tramar!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- final jumbotron de abertura -->



  <div class="row-fluid" id="testando">
  </div>

  <!-- Inicio da estrutura da pagina principal -->
  <div class="row-fluid">
    <!-- Inicio da estrutura (Mapa+Evetos) -->
    <div class="col-xs-12 col-sm-10">
      <!-- Mapa -->
      <div class="row-fluid mapa">
        <div id="map-container" class="col-xs-12">

          <div id="map"></div>
          <!-- source = js/maps.js - Chama script do gmaps-->
          <script>initMap()</script>
        </div>
      </div>

      <!-- Eventos -->
      <div class="row-fluid" ng-controller="EventsListCtrl">
        <div class="col-lg-3 col-sm-3 col-xs-12 card" ng-repeat="event in events">
          <div class="foto">
            <img src="{{event.image}}" class="img-responsive" alt=""> 
          </div>
          <div class="criador">
            <img src="img/trama.png" class="img-circle img-responsive" alt="">
          </div>          
          <div class="info">
            <div>
              <i class="fa fa-calendar"></i>
              <span class="dataEvento">{{event.data}}</span>
              -
              <span class="horaEvento">{{event.horario}}</span>
            </div>
            <div>
              <i class="fa fa-map-marker"></i>
              <span class="localEvento">{{event.local}}</span>
            </div>
          </div>
          <div class="descricaoBlocoCard img-responsive">
            <div class="descricaoTituloCard">{{event.title}}</div>
            <div class="descricaoTextoCard"> {{event.description}} </div>
            <a class="descricaoDetalhesCard" href="eventoCriado.html"> Veja mais <i class="fa fa-long-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="limparFloat"></div>
    </div>
    <!-- Final da estrutura (Mapa+Evetos) -->

    <!-- Inicio da estrutura da sideBar -->
    <div class="col-sm-2 col-xs-12 sideBar">
        <div class="redesSociais">
          <div class="tituloRedes">
            nossas redes sociais
          </div>
          <div class="linksRedes">
            <a href="https://www.facebook.com/tramacoletivo?fref=ts" target="_blank">
              <i class="fa fa-facebook-official fa-2x">
              </i>
            </a>
            <a href="https://www.flickr.com/photos/132116222@N04/" target="_blank">
              <i class="fa fa-flickr fa-2x">
              </i>
            </a>
            <a href="https://www.instagram.com/coletivotrama/" target="_blank">
              <i class="fa fa-instagram fa-2x">           
              </i>
            </a>
            <a href="https://medium.com/@coletivotrama" target="_blank">
              <i class="fa fa-medium fa-2x">
              </i>
            </a>
          </div>         
        </div>

        <div class="propaganda">
          <div class="tituloCamisas">
            se liga nas camisas!
        </div>
        <ul class="camisas">
          <li><img src="img/camisa1.jpg" alt="" class="img-responsive"></li>
          <li><img src="img/camisa2.jpg" alt="" class="img-responsive"></li>
          <li><img src="img/camisa3.jpg" alt="" class="img-responsive"></li>
        </ul>
      </div>
    </div>
    <!-- Final da estrutura da sideBar -->
  </div>
  <!-- Final da estrutura da pagina principal -->
</div>
<!-- Inicio do footer -->
<div class="row-fluid">
  <div class="col-xs-12 footerPrimario">
    <div class="container">
      <div class="col-sm-2 col-xs-6 footerLinks">
        <div class="tituloFooter">Links</div>
        <ul>
          <li><a href="index.html">ínicio</a></li>
          <li><a href="oqueeotrama.html">o que é o Trama?</a></li>
          <li><a href="comoajudar.html">como posso ajudar?</a></li>
          <li><a href="loja.html">loja</a></li>
          <li><a href="contato.html">contato</a></li>
        </ul>
      </div>
      <div class="col-sm-2 col-xs-6 footerRedes">
        <div class="tituloFooter">Siga a gente!</div>
        <ul>
          <li><a href="https://www.facebook.com/tramacoletivo?fref=ts" target="_blank"><i class="fa fa-facebook"></i>facebook</a></li>
          <li><a href="https://www.flickr.com/photos/132116222@N04/" target="_blank"><i class="fa fa-flickr"></i>flickr</a></li>
          <li><a href="https://www.instagram.com/coletivotrama/" target="_blank"><i class="fa fa-instagram"></i>instagram</a></li>
          <li><a href="https://medium.com/@coletivotrama" target="_blank"><i class="fa fa-medium"></i>medium</a></li>
        </ul>    
      </div>
      <div class="col-sm-5 col-xs-12 footerNewsletter form-inline">
        <!-- Begin MailChimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
        <style type="text/css">
        #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
              /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
              We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
              </style>
              <div>
                <form action="//trama.us11.list-manage.com/subscribe/post?u=c0068bc663df2a18317d68538&amp;id=ae74d7f9e8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                  <div id="mc_embed_signup_scroll">
                    <div class="tituloFooter">Se increva na nossa Newsletter</div>
                    <div class="mc-field-group">
                      <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="Email (obrigatório)">
                    </div>
                    <div class="mc-field-group">
                      <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME" placeholder="Primeiro Nome">
                    </div>
                    <div class="mc-field-group">
                      <input type="text" value="" name="LNAME" class="form-control" id="mce-LNAME" placeholder="Sobrenome">
                    </div>
                    <div id="mce-responses" class="clear">
                      <div class="response" id="mce-error-response" style="display:none"></div>
                      <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c0068bc663df2a18317d68538_ae74d7f9e8" tabindex="-1" value=""></div>
                    <div class="clear"><input type="submit" value="Registrar" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary"></div>
                  </div>
                </form>
              </div>
              <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);
              /**
                  To customize your embedded form validation messages, place this code before the closing script tag.
                  */
                  $mcj.extend($mcj.validator.messages, {
                    required: "Esse campo é obrigatório, se lembra?.",
                    remote: "Opa, tem algum erro nesse campo.",
                    email: "Opa, tem algum erro com o seu email.",
                  });
                  </script>
                  <!--End mc_embed_signup-->  
                </div>
              </div>
            </div>
          </div>
          <div class="row-fluid">
            <div class="col-xs-12 footerSecundario">
              <div class="container">
                Todos os conteúdos, que não interfiram na segurança, compartilhados. Acesse o nosso <a href="https://gitlab.com/groups/coletivotrama" target="_blank">gitlab</a>.
              </div>
            </div>
          </div>
          <!-- Final do footer -->

        </body>
        </html>
